<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List Note</title>
</head>
<body>
<h1>List Note</h1>
<a th:href="@{create-note}">Add new note</a>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<form>
    <table border="1">
        <tr>
            <th>STT</th>
            <th>Title</th>
            <th>Type</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        <th:block th:each="n : ${notes}">
            <tr>
                <td></td>
                <td><a th:href="@{/view-note/__${n.getId()}__}" th:text="${n.getTitle()}"></a></td>
                <td></td>
                <td><a th:href="@{/edit-note/__${n.getId()}__}">Edit</a></td>
                <td><a th:href="@{/delete-note/__${n.getId()}__}" onclick="return confirm('Do you want delete ?')">Delete</a></td>
            </tr>
        </th:block>
    </table>
</form>
</body>
</html>