<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Form</title>
</head>
<h1>Edit Form</h1>
<a th:href="@{/types}">Back to list Types</a>
<body>
<form th:action="@{/edit-type}" th:object="${type}" method="post">
    <table>
        <input type="hidden" th:field="*{id}">
        <tr>
            <th>Type</th>
            <td><input type="text" th:field="*{name}"></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Edit"></td>
        </tr>
    </table>
</form>
</body>
</html>